/* CSS declarations go here */
.hidden_div{
	display:none;
}

.btn-normal{
	cursor: auto;
}

.btn-normal:hover{
	background-color: #fff;
	border-color: #ccc;
}

.sm-padding-bottom{
	padding-bottom: 10px;
}

.sm-margin-bottom{
	margin-bottom: 10px;
}
