<head>
  <title>siteace</title>
</head>

<body>

</body>

<template name="ApplicationLayout">
  {{> yield "navbar"}}
  {{> yield "main"}}
</template>

<template name="navbar">

  <!-- navbar  - you will be putting the login functions here -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Site Ace
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}} <!-- here -->
        </ul>
        <form class="navbar-form navbar-left js-search-website-form" role="search">
          <div class="form-group">
            <input type="text" id ="search_term" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>

    </div>
  </nav>
  <div class="container">
    <div id="search_alert" class="alert alert-info hidden_div" role="alert">
      Searching by term: {{search_term}}
      <button class="btn btn-default js-reset-search-website-form">Reset <span class="glyphicon glyphicon-remove"></span></button>
    </div>
  </div>

</template>

<template name="website">
  <div class="container">
    {{> website_form}}
    {{> website_list}}
  </div>
</template>

<template name="website_form">
  <div class="row sm-padding-bottom">
    <div class="col-md-12">
      {{#if currentUser}}
      	<a class="btn btn-info  js-toggle-website-form sm-margin-bottom" href="#">
          Add new website
        		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      	</a>
      {{/if}}
    	<div id="website_form" class="hidden_div ">
    		<form class="js-save-website-form form-inline">
    		  <div class="form-group">
    		    <label for="url">Site address</label>
    		    <input type="text" class="form-control" id="url" placeholder="http://www.mysite.com">
    		  </div>
    		  <button type="submit" class="btn btn-default">Submit</button>
    		</form>
    	</div>
    </div>
  </div>
</template>

<!-- template that displays several website items -->
<template name="website_list">

	{{#each websites}}
	{{>website_item}}
	{{/each}}

</template>

<!-- template that displays individual website entries -->
<template name="website_item">

<div class="panel panel-primary" id="{{_id}}">
  <div class="panel-heading">
    <a href="/website/{{_id}}" class="btn btn-default">{{title}}</a>
  </div>
  <div class="panel-body">
    <p> Description:
      {{description}}
    </p>
    <a href="#" class="btn btn-success js-upvote">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
      </span>
        {{#if upVotes}}
          <span class="badge">
            {{upVotes}}
          </span>
        {{/if}}
    </a>
    <a href="#" class="btn btn-danger js-downvote">
      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
      </span>

        {{#if downVotes}}
          <span class="badge">
            {{ downVotes}}
          </span>
        {{/if}}

    </a>
    <h4>Added at: {{localeDate createdOn}} </h4>
  </div>
  <div class="panel-footer"><button class="js-del-website btn btn-warning">delete</button></div>
</div>

</template>

<template name="website_page">
  <div class="col-md-12">
    <a href="/" class="btn btn-info"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{title}}
<a href="{{ url }}"  target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a>
        </h2>
        <p>Description:
      		{{description}}
      	</p>
      </div>
    </div>
    <div class="row">
      <div class="comment-section">
          {{> commentsBox id= _id}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-default btn-normal">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true">
            {{#if upVotes}}
              {{upVotes}}
            {{/if}}
          </span>
        </button>
        <button class="btn btn-default btn-normal">
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true">
            {{#if downVotes}}
              {{ downVotes}}
            {{/if}}</span>
        </button>
        <h4>Added at: {{localeDate createdOn}}</h4>

      </div>
    </div>

  </div>

</template>
